*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	margin: 0;
	background-color: lightgrey;
	font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
}

#mainbg {
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: absolute;
	top: 25px;
	max-width: 100%;
	height: auto;
	overflow: hidden;
}

/* NAVBAR */
#bar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 75px;
	width: 100%;
	background-color: #004d00;
	border-bottom: 3px solid black;
	text-align: center;
	z-index: 2;
}
.navbtn {
	position: relative;
	top: 30px;
	width: 140px;
    padding: 11px 35px;
    padding-top: 12px;
	color: white;
	background-color: #009900;
	border: 2px solid black;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 600;
    text-align: center;
    text-decoration: none; 
	margin: 0px 20px;
	z-index: 2;
}
.navbtn:hover {	background-color: #00b300;	}

#navbtn3 {	top: 25px; left:0px; padding: 12px 60px; font-size: 22px; margin: 0px 0px;}

#left { float:left; width:50%; }
#mid { float:left; width:0%; }
#rigth { float:left; width:50%; }

/* INDEX */
#maintitle {
	position: absolute;
	top: 250px;
	left: 140px;
	width: 420px;
	padding: 15px 0;
	color: white;
	text-shadow: 2px 2px black;
	background-color: #009900;
	border: 2px solid black;
	border-radius: 30px;
	font-size: 45px;
}

/* OTHER PAGES */
#title1 {
	position: relative;
	top: 105px;
	width: 350px;
	padding: 15px 0;
	color: white;
	text-shadow: 2px 1px #202020;
	background-color: #009999;
	border: 3px solid black;
	border-radius: 30px;
	font-size: 35px;
}
.boks {
	height: 300px;
	width: 430px;
	padding: 35px 50px;
	padding-top: 5px;
	color: white;
	background-color: #009999;
	border: 3px solid black;
	border-radius: 30px;
	font-size: 18px;
	font-weight: 600;
    text-align: left;
	text-shadow: 1px 1px black;	
}