body {
	padding: 0;
	margin: 0;
	background-color: whitesmoke;
	font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
}
#mainbg {
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: absolute;
	top: 55px;
	max-width: 100%;
	height: auto;
	border-bottom: 3px solid black;
	z-index: -2;
}

/* INDEX */
#maintitle {
	position: relative;
	top: 11vw;
	max-width: 50%;
	padding: 15px 2vw;
	color: white;
	text-shadow: 2px 2px black;
	background-color: #009900;
	border: 2px solid black;
	border-radius: 30px;
	font-size: 4vw;
}
#info {
	position: absolute;
	top: 546px;
	opacity: 0.1;
}
#plan {
	position: absolute;
	top: 1092px;
	opacity: 0.1;
}
#bilder {
	position: absolute;
	top: 1640px;
	opacity: 0.1;
}

/* OTHER PAGES */
#title1 {
	position: relative;
	top: 105px;
	width: 350px;
	padding: 15px 0;
	color: white;
	text-shadow: 2px 1px #202020;
	background-color: #009999;
	border: 3px solid black;
	border-radius: 30px;
	font-size: 35px;
}
.boks {
	height: 300px;
	width: 430px;
	padding: 35px 50px;
	padding-top: 5px;
	color: white;
	background-color: #009999;
	border: 3px solid black;
	border-radius: 30px;
	font-size: 18px;
	font-weight: 600;
    text-align: left;
	text-shadow: 1px 1px black;	
}